<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Super Rentals</h2>
    <p>
        The super rentals hels us to build a propertyrental site and an Ember app!
    </p>
    {{#link-to "contact" class="button"}}
    Contact Us
    {{/link-to}}
</div>
